<div>
  <p>Name: {{ data.username }}</p>
</div>

<input type="text" placeholder="name" [(ngModel)]="title" value="Zak" />
<button (click)="submit()">Submit</button>

<div *ngFor="let booking of bookingsList" style="background-color: green; color: white; margin: 16px;">
  <table>
    <tr>
      <td>
        <p>{{ booking.names }}</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>{{ booking.phone }}</p>
      </td>
      <td><button (click)="delete(booking.key)">Delete</button></td>
    </tr>
  </table>
</div>